---
import AEI_logo from "../../assets/Patrocinadores/AEI_logo.png";
import AMCHAM_logo from "../../assets/Patrocinadores/AMCHAM_logo.png";
import ASU_logo from "../../assets/Patrocinadores/ASU_logo.png";
import BUENAVISTA_logo from "../../assets/Patrocinadores/BUENAVISTA_logo.png";
import CEDIA_logo from "../../assets/Patrocinadores/CEDIA_logo.png";
import ECUACAP_logo from "../../assets/Patrocinadores/ECUACAP_logo.png";
import GEN_SPACE_logo from "../../assets/Patrocinadores/GEN_SPACE_logo.png";
import GUAYAQUIL_SPACE_logo from "../../assets/Patrocinadores/GUAYAQUIL_SPACE_logo.png";
import LEVIATHAN_SPACE_logo from "../../assets/Patrocinadores/LEVIATHAN_SPACE_logo.png";
import MINISTERIO_E_logo from "../../assets/Patrocinadores/MINISTERIO_E_logo.png";
import MINISTERIO_PCEIP_logo from "../../assets/Patrocinadores/MINISTERIO_PCEIP_logo.png";
import MINISTERIO_REMH_logo from "../../assets/Patrocinadores/MINISTERIO_REMH_logo.png";
import MOVISTAR_logo from "../../assets/Patrocinadores/MOVISTAR_logo.png";
import USFQ_logo from "../../assets/Patrocinadores/USFQ_logo.png";
import WORKINGUP_logo from "../../assets/Patrocinadores/WORKINGUP_logo.png";

// const objects = [{img:"url"},{url:"none"},{}]

const { title } = Astro.props;
const { description } = Astro.props;
const { sponsors } = Astro.props;
---

<head>
    <link
        rel="stylesheet"
        href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css"
    />
    <style>
        .sponsors-section img {
            max-width: 100px; /* Reduce el tamaño de las imágenes para móviles */
        }

        @media (min-width: 640px) {
            .sponsors-section img {
                max-width: 150px; /* Tamaño de las imágenes para pantallas más grandes */
            }
        }
    </style>
</head>
<body>
    <section class="sponsors-section py-10">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-6 sm:mb-12">{title}</h2>
            <Fragment set:html={description} />
            <div
                id="default-carousel"
                class="relative w-full"
                data-carousel="slide"
            >
                <!-- Carousel wrapper -->
                <div
                    class="relative h-56 overflow-hidden rounded-lg md:h-96 inset-y-0"
                >
                    {
                        sponsors.map((item: any) => (
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <div class="flex flex-wrap justify-center gap-4 sm:gap-6">
                                    {item.map((data: any) => (
                                       <a href={data.url}>
                                        <img
                                            src={data.image}
                                            class="block max-w-xs"
                                            alt={data.alt}
                                        />
                                    </a>
                                    ))}
                                </div>
                            </div>
                        ))
                    }


                </div>
                <!-- Slider indicators -->
                <div
                    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
                >
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full bg-black/70"
                        aria-current="true"
                        aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full bg-black/70"
                        aria-current="false"
                        aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full bg-black/70"
                        aria-current="false"
                        aria-label="Slide 3"
                        data-carousel-slide-to="2"></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full bg-black/70"
                        aria-current="false"
                        aria-label="Slide 4"
                        data-carousel-slide-to="3"></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full bg-black/70"
                        aria-current="false"
                        aria-label="Slide 5"
                        data-carousel-slide-to="4"></button>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>
