---
import TextIcon from "../components/organisms/TextIcon.astro";
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const description = renderRichText(blok.description);
---

<section
    {...storyblokEditable(blok)}
    id="school-form"
    class="flex flex-col gap-8 py-8 px-8 md:px-24 md:py-16"
>
    <h2 class="text-center text-3xl font-bold">{blok.title}</h2>
    <p class="text-center">
        {blok.subtitle}
    </p>
    <ul class="flex gap-4 flex-col md:flex-row items-center justify-center">
        {
            blok.items.map((item: any) => (
                <TextIcon icon={item.icon}>
                        <Fragment set:html={renderRichText(item.content)} />
                </TextIcon>
            ))
        }
    </ul>
    <div class="text-center">
        <Fragment set:html={description} />
    </div>
</section>