---
import UserBadge from "../molecules/UserBadge.astro";
import Chip from "../molecules/Chips.astro";

const { content } = Astro.props;
---

<div
  class="flex justify-center items-center flex-col w-full min-w-72 p-4 rounded-lg shadow-xl"
>
  <UserBadge
    name={content.user.name}
    date={content.user.date}
    image={content.user.image}
  />
  <div class="w-5/6">
    <h3 class="w-full text-3xl font-bold py-2">
      <a class="cursor-pointer" href={content.link}>{content.title}</a>
    </h3>
    <!-- <p class="w-full pb-4">{content.gas}</p> -->
    <Chip texts={content.hashtag} />

    <img
      src={content.image}
      alt=""
      class="w-full max-h-64 object-cover rounded-lg mb-4"
    />

    <!-- TODO: MAKE RICH TEXT -->
    <!-- <p class="" set:html={content.summary} /> -->
    <p class="mb-4">{content.summary}</p>
    <a class="cursor-pointer text-red-500">Ver más</a>
  </div>
</div>
